# Ignore Python cache & compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
.env/

# Ignore build artifacts
build/
dist/
*.egg-info/

# Ignore system files (Mac & Windows)
.DS_Store
Thumbs.db

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore logs & environment files
*.log
Pipfile.lock
poetry.lock